<launch>
    <arg name="open_rviz" default="true"/>
    
    <include file="$(find freenect_launch)/launch/freenect.launch"/>
   
    <node pkg="depthimage_to_laserscan" name="depthimage_to_laserscan" type="depthimage_to_laserscan" output="screen">
        <remap from="image" to="/camera/depth/image_raw"/>
    </node>

    <node pkg="ewc_slam" name="ewc_kinect_frame" type="ewc_kinect_frame"/> -->
  
    <!-- Run the map server --> 
    <node name="map_server" pkg="map_server" type="map_server" args="$(find ewc_navigation)/maps/robov2.yaml"/>

    <!-- AMCL -->
    <include file="$(find ewc_navigation)/launch/amcl.launch"/>


    <!-- move_base -->
    <include file="$(find ewc_navigation)/launch/move_base.launch"/>
	

    <!-- rviz -->
    <group if="$(arg open_rviz)"> 
       <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find ewc_navigation)/rviz/ewc_navigation.rviz"/>
    </group>

</launch> 
