<launch>
  <!-- Arguments -->
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping,hector]"/>
  <arg name="open_rviz" default="true"/>
  <include file="$(find freenect_launch)/launch/freenect.launch"/>
   
  <node pkg="depthimage_to_laserscan" name="depthimage_to_laserscan" type="depthimage_to_laserscan">
     <remap from="image" to="/camera/depth/image_raw"/>
  </node>

 <node pkg="ewc_slam" type="ewc_kinect_frame"
          name="ewc_kinect_frame" />

 

  <!-- SLAM: Gmapping, Hector -->
  <include file="$(find ewc_slam)/launch/ewc_$(arg slam_methods).launch">
  </include>

  <!-- rviz -->
 <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find ewc_slam)/rviz/mapping.rviz"/>
  </group>

</launch>
